.CatolougeSearchBar {
    position: absolute;

}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(255,255,255,1));
    display: flex;
    align-self: center;
    border-radius: 60px;
    

    grid-column: span 2;
    
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    
}