.Searchbar {
    position: absolute;
    top: 220px;
    left: 45%;
}

.SearchText {
    color: white;
    position: absolute;
    left: 44.9%;
    top: 17%;
    font-size: 25px;

    background-color: grey;
    width: 180px;
    height: 62px;
     text-align: center;
     border-radius: 10px;


}